# Set environment

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
dir("/home/scratch/dataset/")

[1] "engage_first_apply.csv"       "engage_overall_apply_sum.csv"
[3] "engage_overall_apply.csv"     "first_session.csv"
[5] "profile_with_credit_age.csv"  "user_engagement.csv"
[7] "user_profile.csv"

# Import data

In [3]:
#profile = read_csv("/home/scratch/dataset/user_profile.csv", n_max = 1000)
profile = read_csv("/home/scratch/dataset/user_profile.csv")
head(profile)

Parsed with column specification:
cols(
  .default = col_integer(),
  user_id = col_character(),
  user_signup_timestamp = col_datetime(format = ""),
  state = col_character(),
  is_homeowner = col_character(),
  gender = col_character(),
  tradelines_avg_days_since_opened = col_double(),
  tradelines_max_days_since_opened = col_double(),
  tradelines_min_days_since_opened = col_double(),
  total_tradelines_amount_past_due = col_double(),
  total_open_cc_amount_past_due = col_double(),
  total_cc_open_balance = col_double(),
  total_tradelines_open_balance = col_double(),
  max_cc_limit = col_double(),
  max_cc_utilization_ratio = col_double(),
  avg_cc_utilization_ratio = col_double(),
  total_mortgage_loans_amount = col_double(),
  total_mortgage_loans_balance = col_double(),
  total_auto_loans_balance = col_double(),
  total_student_loans_balance = col_double(),
  recent_bankruptcy_date = col_datetime(format = "")
  # ... with 2 more columns
)
See spec(...) for full column specifications.
Warning message in rbind(names(probs), probs_f):
“number of columns of result is not a multiple of vector length (arg 2)”Warning message:
“1 parsing failure.
row # A tibble: 1 x 5 col      row col     expected             actual file                               expected    <int> <chr>   <chr>                <chr>  <chr>                              actual 1 165123 zipcode no trailing charact… -4901  '/home/scratch/dataset/user_profi… file # A tibble: 1 x 5
”

  Unnamed: 0 user_id                                  user_signup_timestamp
1 0          50991631a5e7fafd8b5856fc15e3d1a3af5dcf98 2018-07-25 21:06:12
2 1          18db173b8b0fb250985a4db2f3f8593ee9658707 2018-07-01 22:01:56
3 2          cabee62f0c4f26bb088f4a48d9ca5efa3a4f96e3 2018-07-02 08:47:21
4 3          bb34f48b56a57e834c5c612b835d5a691f7357e8 2018-07-02 02:07:53
5 4          6da929725c76c01aa151d97060df2e6bd051e31e 2018-07-03 17:36:42
6 5          e8a6717452a88ec8d699c0a4181637c67d247e84 2018-07-02 16:11:42
  state zipcode is_homeowner gender tradelines_avg_days_since_opened
1 AR    72762   True         Female 2385.16
2 NE    68111   False        NA      909.25
3 AL    36078   False        Male   1544.00
4 MT    59923   True         Unisex  831.60
5 PA    19040   False        Female 1226.60
6 NC    28138   False        Female  546.28
  tradelines_max_days_since_opened tradelines_min_days_since_opened ⋯
1 7446                             481                              ⋯
2 1780                             152                              ⋯
3 3975                             251                              ⋯
4 2573                              40                              ⋯
5 2510                             186                              ⋯
6 1291                              68                              ⋯
  total_mortgage_loans_balance total_auto_loans_balance
1  26049                           0
2      0                       12992
3  86987                           0
4 148912                       46046
5      0                       16262
6      0                       28311
  total_student_loans_balance count_inquiries_3_months count_inquiries_6_months
1     0                       0                        0
2     0                       0                        0
3     0                       0                        0
4     0                       3                        3
5 24134                       0                        0
6     0                       0                        0
  count_inquiries_12_months recent_bankruptcy_date count_bankruptcy
1  0                        <NA>                   0
2  1                        <NA>                   0
3  1                        <NA>                   0
4 12                        <NA>                   0
5  3                        <NA>                   0
6  2                        <NA>                   0
  age_bucket   credit_score_bucket
1 (45.0, 50.0] (630.0, 635.0]
2 (50.0, 55.0] (575.0, 580.0]
3 (50.0, 55.0] (685.0, 690.0]
4 (50.0, 55.0] (625.0, 630.0]
5 (20.0, 25.0] (630.0, 635.0]
6 (35.0, 40.0] (670.0, 675.0]

In [4]:
colnames(profile)

 [1] "Unnamed: 0"
 [2] "user_id"
 [3] "user_signup_timestamp"
 [4] "state"
 [5] "zipcode"
 [6] "is_homeowner"
 [7] "gender"
 [8] "tradelines_avg_days_since_opened"
 [9] "tradelines_max_days_since_opened"
[10] "tradelines_min_days_since_opened"
[11] "count_tradelines_closed_accounts"
[12] "count_total_tradelines_opened_24_months"
[13] "count_tradelines_cc_opened_24_months"
[14] "count_tradelines_condition_derogatory"
[15] "count_open_installment_accounts_24_months"
[16] "count_tradelines_open_collection_accounts"
[17] "count_tradelines_open_mortgages"
[18] "count_tradelines_open_student_loans"
[19] "count_tradelines_opened_accounts"
[20] "count_tradelines_open_secured_loans"
[21] "count_tradelines_open_unsecured_loans"
[22] "total_tradelines_amount_past_due"
[23] "total_open_cc_amount_past_due"
[24] "total_cc_open_balance"
[25] "total_tradelines_open_balance"
[26] "max_cc_limit"
[27] "max_cc_utilization_ratio"
[28] "avg_cc_utilization_ratio"
[29] "total_mortgage_loans_amount"
[30] "total_mortgage_loans_balance"
[31] "total_auto_loans_balance"
[32] "total_student_loans_balance"
[33] "count_inquiries_3_months"
[34] "count_inquiries_6_months"
[35] "count_inquiries_12_months"
[36] "recent_bankruptcy_date"
[37] "count_bankruptcy"
[38] "age_bucket"
[39] "credit_score_bucket"

# Process credit score bucket and age
https://www.creditsesame.com/free-credit-score/
- 300-640
- 640-680
- 680-720
- 720-850

In [5]:
trim <- function (x) gsub("\\(|\\[|\\)|\\]", "", x)
dat = profile %>%
    mutate(credit_score_bucket2 = trim(credit_score_bucket)) %>% 
    separate(col = credit_score_bucket2, 
             into = c("credit_score_bound_lower", "credit_score_bound_upper"), 
             sep = ",") %>%
    mutate(credit_score_bound_lower = as.numeric(credit_score_bound_lower), 
           credit_score_bound_upper  = as.numeric(credit_score_bound_upper)) %>%
    mutate(credit_score_mean = (credit_score_bound_lower + credit_score_bound_upper) / 2)

dat$credit_bucket = cut(
    dat$credit_score_mean, 
    breaks = c(300, 640, 680, 720, 850), 
    labels = c("poor","fair","good", "Excellent"))

dat = dat %>% 
    mutate(age_bucket2 = trim(age_bucket)) %>% 
    separate(col = age_bucket2, 
             into = c("age_bucket_bound_lower", "age_bucket_bound_upper"), 
             sep = ",") %>%
    mutate(age_bucket_bound_lower = as.numeric(age_bucket_bound_lower), 
           age_bucket_bound_upper = as.numeric(age_bucket_bound_upper)) %>%
    mutate(age = (age_bucket_bound_lower + age_bucket_bound_upper) / 2)

In [6]:
head(dat)

  Unnamed: 0 user_id                                  user_signup_timestamp
1 0          50991631a5e7fafd8b5856fc15e3d1a3af5dcf98 2018-07-25 21:06:12
2 1          18db173b8b0fb250985a4db2f3f8593ee9658707 2018-07-01 22:01:56
3 2          cabee62f0c4f26bb088f4a48d9ca5efa3a4f96e3 2018-07-02 08:47:21
4 3          bb34f48b56a57e834c5c612b835d5a691f7357e8 2018-07-02 02:07:53
5 4          6da929725c76c01aa151d97060df2e6bd051e31e 2018-07-03 17:36:42
6 5          e8a6717452a88ec8d699c0a4181637c67d247e84 2018-07-02 16:11:42
  state zipcode is_homeowner gender tradelines_avg_days_since_opened
1 AR    72762   True         Female 2385.16
2 NE    68111   False        NA      909.25
3 AL    36078   False        Male   1544.00
4 MT    59923   True         Unisex  831.60
5 PA    19040   False        Female 1226.60
6 NC    28138   False        Female  546.28
  tradelines_max_days_since_opened tradelines_min_days_since_opened ⋯
1 7446                             481                              ⋯
2 1780                             152                              ⋯
3 3975                             251                              ⋯
4 2573                              40                              ⋯
5 2510                             186                              ⋯
6 1291                              68                              ⋯
  count_bankruptcy age_bucket   credit_score_bucket credit_score_bound_lower
1 0                (45.0, 50.0] (630.0, 635.0]      630
2 0                (50.0, 55.0] (575.0, 580.0]      575
3 0                (50.0, 55.0] (685.0, 690.0]      685
4 0                (50.0, 55.0] (625.0, 630.0]      625
5 0                (20.0, 25.0] (630.0, 635.0]      630
6 0                (35.0, 40.0] (670.0, 675.0]      670
  credit_score_bound_upper credit_score_mean credit_bucket
1 635                      632.5             poor
2 580                      577.5             poor
3 690                      687.5             good
4 630                      627.5             poor
5 635                      632.5             poor
6 675                      672.5             fair
  age_bucket_bound_lower age_bucket_bound_upper age
1 45                     50                     47.5
2 50                     55                     52.5
3 50                     55                     52.5
4 50                     55                     52.5
5 20                     25                     22.5
6 35                     40                     37.5

In [8]:
dat = dat %>% select(user_id, 
                     age_bucket, 
                     age_bucket_bound_lower, age_bucket_bound_upper, age, 
                     credit_score_bucket,
                     credit_score_bound_lower, credit_score_bound_upper, credit_bucket)
dat %>% head

  user_id                                  age_bucket   age_bucket_bound_lower
1 50991631a5e7fafd8b5856fc15e3d1a3af5dcf98 (45.0, 50.0] 45
2 18db173b8b0fb250985a4db2f3f8593ee9658707 (50.0, 55.0] 50
3 cabee62f0c4f26bb088f4a48d9ca5efa3a4f96e3 (50.0, 55.0] 50
4 bb34f48b56a57e834c5c612b835d5a691f7357e8 (50.0, 55.0] 50
5 6da929725c76c01aa151d97060df2e6bd051e31e (20.0, 25.0] 20
6 e8a6717452a88ec8d699c0a4181637c67d247e84 (35.0, 40.0] 35
  age_bucket_bound_upper age  credit_score_bucket credit_score_bound_lower
1 50                     47.5 (630.0, 635.0]      630
2 55                     52.5 (575.0, 580.0]      575
3 55                     52.5 (685.0, 690.0]      685
4 55                     52.5 (625.0, 630.0]      625
5 25                     22.5 (630.0, 635.0]      630
6 40                     37.5 (670.0, 675.0]      670
  credit_score_bound_upper credit_bucket
1 635                      poor
2 580                      poor
3 690                      good
4 630                      poor
5 635                      poor
6 675                      fair

# store the updated profile

In [9]:
write_csv(dat, path = "/home/scratch/dataset/profile_with_credit_age.csv")